<div class="">
<div class="row">
    <div class="col-md-8">
      <div class="append-icon">
            <input type="text" name="firstname" id="finder" class="form-control form-white input-sm" placeholder="Search..." autofocus ng-model="filter">
            <i class="icon-magnifier"></i>
          </div>
    </div>
    <div class="col-md-2" >
      <button style="background:#95C92C;"  type="button" class="btn btn-white btn" ng-click="nuevo()"><i style="color:white;"  class="fa fa-plus"></i></button>
    </div>    
  </div>

   <div class="row">
            <div class="col-lg-12 portlets">
              <div class="panel">
                <div class="panel-header panel-controls">
                  
                </div>
                <div class="panel-content">
                  <div class="filter-left">
                    <table class="table table-bordered  ">
                      <thead>
                        <tr style="color:white;">
                          <th>#</th>
                          <th>Descripción</th>
                          <th >Opciones</th>                       
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="respta in Respuestas | filter:filter ">
                          <td>{{respta.id}}</td>
                          <td>{{respta.nombre}} </td>
                          <td>
                            <a href="javascript:;" ng-click="delete(respta)">Eliminar</a>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

  <div class="modal fade" id="modal-responsive" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
          <h4 class="modal-title">GESTIÓN DE RESPUESTAS</h4>
        </div>
        <div class="modal-body">
          
          <div class="row">
            <div class="col-md-12">
              
              <div class="form-group">
              <div class="t-center">
                    <label for="field-1" class="control-label">Descripción</label>
                    <input type="text" class="form-control form-white" id="field-1" placeholder="Ej: estoy ocupado,llamame,voy en 15..." ng-model="Respuesta.nombre">
                  </div>        
              </div>                
            </div>
           </div>
        </div>
        <div class="modal-footer text-center">
          <button type="button" class="btn btn-primary btn-embossed bnt-square" ng-click="save()" ng-show="openButton"><i class="fa fa-check"></i> Guardar</button>
        </div>
      </div>
    </div>
  </div>

</div>
