<ion-view view-title="Listado de Empresas">
  <ion-content>
    <div class="row">
        <div class="col col-33">
          <button type="button" class="button button-balanced" ng-click="Mapa()" >{{title}}</button>
        </div>
        <div class="col col-66">
          <div class="list">
            <label class="item item-input item-select">
              <div class="input-label">
                Filtrar:
              </div>
              <select ng-model= "filtro" ng-change="Filtro()" >
                <option value="1">Mejor Calificados</option>
                <option value="2">Mejores Descuentos</option>
                <option value="3">Mas Visitados</option>
                <option value="4">Mas Cercanos</option>
              </select>
            </label>
          </div>
        </div>
    </div>
    <div ng-show = "open">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-search placeholder-icon"></i>
          <input type="text" placeholder="Search" ng-model="filter">
        </label>
      </div>
      <div class="list card" ng-repeat= "profesional in Profesionales | filter:filter">
        <a href="javascript:;" style="text-decoration:none" ng-click="Detalles(profesional)">
          <div class="item item-avatar">
            <img src="http://ciudadverdeapp.co/api/{{profesional.foto}}" ng-click= "openModal()">
            <h2>{{profesional.razonSocial}}</h2>
            <p>
              {{profesional.municipio}}
            </p>
            <div class="list">
              <div class="item range range-positive">
                <i class="icon ion-android-star-outline assertive"></i>
                <input type="range" name="volume" min="1" max="5" value="{{profesional.calificacion}}" disabled >
                <i class="icon ion-android-star balanced"></i>
              </div>
              <span>
                <center>
                    <p >
                      Calificación: {{(profesional.calificacion / 5)*100}}%
                    </p>
                </center>
              </span>
            </div>
          </div>
        </a>
        <div class="item item-body" ng-if= "profesional.status">
          <button type="button" class="button button-small button-balanced" ng-click="openModal()" >Ver Imaganes</button>
          <button type="button" class="button button-small button-balanced" ng-click="openMapa(profesional)" >Como Llegar?</button>
          <button type="button" class="button button-small button-positive" ng-click="Solicitar()" >Contáctame</button>
          <p>
            <strong>Correo:</strong> &nbsp{{profesional.correo}}
          </p>
          <p>
            <strong>Teléfono:</strong>&nbsp{{profesional.telefono}}
          </p>
          <p>
            <strong>Profesión:</strong>&nbsp{{profesional.profesion}}
          </p>
          <p>
            <strong>Dirección:</strong>&nbsp{{profesional.direccion}}
          </p>
        </div>
      </div>
    </div>
    <div ng-hide = "open">
      <div id="mapa" style=" position: relative;float: left; width: 100%;height: 450px" data-tap-disabled = "true"></div>
    </div>


  </ion-content>

</ion-view>
