
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; cursor: default; overflow: auto; -webkit-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); -moz-box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); box-shadow: 1px 4px 3px rgba(50, 50, 50, 0.64); }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-no-suggestion { padding: 2px 5px;}
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #000; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { font-weight: bold; font-size: 16px; color: #000; display: block; border-bottom: 1px solid #000; }

.highlight {
    color: #ff0000;
}

.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    width: 250px;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    /*top: 32px;
    left: 0px;
    */
    margin-top: -6px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 11px;
    color: #023859;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;

}

.angucomplete-selected-row, .angucomplete-row:hover {
    background-color: lightblue;
    color: #ffffff;
}

.angucomplete-image-holder {
    padding-top: 2px;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.angucomplete-image {
    height: 34px;
    width: 34px;
    border-radius: 50%;
    border-color: #ececec;
    border-style: solid;
    border-width: 1px;
}

.angucomplete-image-default {
    background-position: center;
    background-size: contain;
    height: 34px;
    width: 34px;
}
/*background-color: #4dbb12;*/

/*styles for logopannel*/
.topbar,.logopanel
{
    background: #676767 !important;
    border-bottom: 4px solid #fb135c !important;
}
.table-bordered thead th {
    background: #676767 !important;
    font-weight:normal !important;
    font-size: 0.8em !important;
}

/*styles for menu*/
.left-menu
{
    border-right: 2px solid #fb619c !important;
}

.left-menu li > a
{
    display: block !important;
    padding: 10px 0px !important;
    border-bottom: thin solid #fb619c !important;

}


.buttonsp,
.left-menu li > a:hover
{
    color:#FFF;
    background: #fb135c !important;
}



/*styles for perfil*/
.main-content .page-content .panel, .panel-header .panel-header, .modal-content
{
    border-radius:10px 10px 0px 0px !important;
}
.main-content .page-content .panel .panel-header, .modal-header
{
    border-radius:10px 10px 0px 0px !important;
    background: #fb135c !important ;
}
.modal-header
{
    padding: 10px !important;
    color:#FFF;
    font-weight: bold;
}
.close
{
    color: #FFF !important;
}

.panel-footer, .modal-footer{
    background: #fb135c !important ;
    padding: 7px !important;
}
.panel-footer > span
{
    color: #fb135c;
}
.nav.nav-tabs > li.active > a
{
    background: none !important;
    border-radius: 0 !important;
    border:thin solid rgba(0, 0, 0, 0.33);
    border-bottom: 0 !important;
}

.nav-tabs > li > a::before {
    -moz-transition: -moz-transform 0.3s;
    -webkit-transition: -webkit-transform 0.3s;
    background: none;
    content: '';
    height: 0px;
    left: 0;
    position: absolute;
    top: 40px;
    transition: transform 0.3s;
    width: 100%;
    -moz-transform: scale(0);
    -o-transform: scale(0);
    -webkit-transform: scale(0);
    transform: scale(0);
}

.tab-content
{
    border-top:thin solid rgba(0, 0, 0, 0.33);

}

/*styles for datauserprofile*/

.line-separator
{
    border-right: 1px solid rgba(0, 0, 0, 0.33);
}
.dataUserProfile
{
    border: thin solid rgba(0, 0, 0, 0.33);
}
.indt
{
    margin-bottom:5px; display: inline-block;
}

.main-content .page-content > .footer .copyright
{
    border-top: 1px solid #fb135c !important;
}

.imageprofile
{
    background: url(../../img/aleja.jpg);
    width:100% !important;
    height:300px !important;
    background-size:100% 100% ;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.usrprofile
{
    padding: 3px 5px !important;
    border-color: #fb135c !important;
}

.tab-content{
    border-color: #fb135c !important;
    border-bottom: thin solid #fb135c;
}

.tittle-page
{
    margin-top:0 !important;
    padding-top: 0 !important;
    font-weight: bold;
}

.header
{
    padding: 0 !important;
}

.icnsearch
{
    position: absolute !important;
    right: 40px !important;
}

.icnsearchs
{
    right: 0px !important;
}
.btnnew
{
    position: absolute;
    right: -10px !important;

    border-radius:0px 3px 3px 0px !important;

}