<h2 style="border-bottom: thin solid #C6C6C6;padding-bottom: 4px; margin-bottom: 30px;">
  Empresas
</h2>
<div class="" >
  <div class="row">
    <div class="col-md-10">
      <div class="append-icon">
        <input type="text" name="firstname" id="finder" class="form-control form-white " placeholder="Buscar..." autofocus ng-model="filter">
        <i class="icon-magnifier"></i>
      </div>
    </div>
    <div class="col-md-2 ">
      <button type="button" class="btn btn-primary pull-right"><i class="fa fa-money"></i> Pago Masivo</button>
    </div>
  </div>
  <br>

  <div class="testimonial-group">
  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-content">
            <table class="table table-bordered table-hover">
            <thead>
                <th>Nit</th>
                <th>Nombre</th>
                <th>E-Mail</th>
                <th>Telefono</th>
                <th>
                  Municipio
                </th>
                <th>
                  Visitas
                </th>
                <th>
                  Dias
                </th>
                <th >Estado</th>
                <th colspan="4">
                 Acciones
                </th>

            </thead>
            <tbody>
            <!-- -->
              <tr ng-repeat="emp in Profesionales| filter:filter" >
                <td>{{emp.identificacion}}</td>
                <td>{{emp.razonSocial}} </td>
                <td>{{emp.correo}} </td>
                <td>{{emp.telefono}} </td>
                <td>
                  {{emp.municipio}}
                </td>
                <td>
                  {{emp.numeroPersonas}}
                </td>
                <td>
                  {{emp.diasRestantes}}
                </td>
                <td><span ng-class="{'label label-danger': emp.estado === 'Inactivo' }" class="label label-success" >{{emp.estado}} </span></td>
                <td>
                  <button type="button" class="btn btn-primary butt" data-toggle="tooltip" title="Ver pago"><i class="fa fa-eye"></i></button>
                
                  <button type="button" class="btn btn-primary butt" ng-click="openModal(emp)"><i class="fa fa-money" data-toggle="tooltip" title="Realizar pago"></i></button>
                
                  <button type="button" class="btn btn-success butt"><i class="fa fa-save"></i></button>
                
                  <button type="button" class="btn btn-danger butt"><i class="fa fa-cut"></i></button>
                </td>
              </tr>
            </tbody>
            </table>
    </div></div>

      
    </div>
  </div>
    </div>
  

  <div class="modal fade" id="modalPago" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
          <h4 class="modal-title">REALIZAR PAGO</h4>
        </div>
        <div class="modal-body">
          
          <div class="row">
            <div class="col-md-6">              
              <div class="form-group">
                <div>
                  <label for="field-1" class="control-label">Nit</label>
                  <input type="text" class="form-control ctinput" id="field-1" ng-model="Profesional.identificacion" disabled>
                </div>        
              </div>                
            </div>
            <div class="col-md-6">              
              <div class="form-group">
                <div>
                  <label for="field-1" class="control-label">Razón Social</label>
                  <input type="text" class="form-control ctinput" id="field-1" ng-model="Profesional.razonSocial" disabled>
                </div>        
              </div>                
            </div>
            <div class="col-md-6">              
              <div class="form-group">
                <div>
                  <label for="field-1" class="control-label">Email</label>
                  <input type="text" class="form-control ctinput" id="field-1" ng-model="Profesional.correo" disabled>
                </div>        
              </div>                
            </div>
            <div class="col-md-6">              
              <div class="form-group">
                <div>
                  <label for="field-1" class="control-label">Teléfono</label>
                  <input type="text" class="form-control ctinput " id="field-1" ng-model="Profesional.telefono" disabled>
                </div>        
              </div>                
            </div>
            <div class="col-md-6">              
              <div class="form-group">
                <div>
                  <label for="field-1" class="control-label">Valor a Pagar</label>
                  <input type="text" class="form-control ctinput d" id="field-1" ng-model="Profesional.valorPago">
                </div>        
              </div>                
            </div>
          </div>
        </div>
        <div class="modal-footer text-center">
          
          <button type="button" class="btn btn-danger btn-embossed bnt-square pull-right">Cancelar
          </button>
          <button type="button" class="btn btn-success btn-embossed bnt-square pull-right" ng-click="savePago()"><i class="fa fa-check"></i> Guardar</button>
        </div>
      </div>
    </div>
  </div>


</div>
<style>
  .warning-class {
    background-color: #BB0000;
    color: white;
  }

</style>
