<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-md-6 portlets">
        <div class="panel">
          <div class="panel-header panel-header ">
            <div > <h4 style="color:white;" class="modal-title">DATOS PERSONALES</h4> </div>
          </div>
          <div class="panel-content">
            <ul class="nav nav-tabs">
              <li class="active"  >
                <a href="#tab1_1" data-toggle="tab" class="usrprofile"  >
                  <i class="fa fa-user" aria-hidden="true"></i> Perfil
                </a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade active in" id="tab1_1">
                <center>
                  <strong>Foto de perfil</strong><br>
                </center>
                <div class="col-md-12 col-md-offset-3">
                    <center>
                      <div id="image" style="margin-bottom: 10px;">
                        <img src="{{Profesional.foto}}" alt="" style="width:150px;height:180px;margin-right:20px; background-repeat:no-repeat;">
                      </div>
                    </center>                   
                </div>
                <center>
                    <div class="input-group">
                        <span class="file-input btn btn-primary btn-file" >
                            <i class="fa fa-camera"></i>
                            <input id="files" type="file">
                            Logo
                        </span>
                    </div>
                </center>
                <br>
                <div class="row">                  
                  <div class="col-md-12 ">
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="field-1" class="control-label">Razón Social</label>
                        <input type="text" class="form-control form-white" id="field-1 " ng-model="Profesional.razonSocial">
                      </div>
                    </div>
                    <div class="col-sm-12 ">
                      <div class="form-group">
                        <label for="field-1" class="control-label">Identificación</label>
                        <input type="text" class="form-control form-white" id="field-1" ng-model="Profesional.identificacion">
                      </div>
                    
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="field-1" class="control-label">Correo</label>
                        <input type="text" class="form-control form-white" id="field-1" ng-model="Profesional.correo" >
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="field-1" class="control-label">Teléfono</label>
                        <input type="text" class="form-control form-white " id="field-1" ng-model="Profesional.telefono">
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="field-1" class="control-label">Dirección</label>
                        <input  type="text" class="form-control form-white " id="pac-input" ng-model="Profesional.direccion">
                      </div>
                    </div>

                    <div class="col-sm-12">
                      <div class="form-group">
                        <label for="field-1" class="control-label">Experiencia</label>
                        <input type="text" class="form-control form-white" id="field-1" ng-model="Profesional.experiencia">
                      </div>
                    </div>
                    <div class="col-sm-12">
                      <button type="button"  style="background:#fb135c; color:white;margin-top:10px; border-radius:5px !important;" class="btn btn-white btn-block" ng-click="save()"><i class="fa fa-edit faa-vertical animated"></i>Editar</button>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          
        </div>
      </div>
      <div class="col-md-6">
        <div id="map" style=" position: relative; width: 100%;height: 400px"></div>  
      </div>     
    </div>
  </div>
</div>

<script>
  function archivo(evt) {
        var files = evt.target.files; // FileList object

        //Obtenemos la imagen del campo "file".
        for (var i = 0, f; f = files[i]; i++) {
            //Solo admitimos imágenes.
            if (!f.type.match('image.*')) {
                continue;
            }

            var reader = new FileReader();

            reader.onload = (function(theFile) {
                return function(e) {
                    document.getElementById("image").innerHTML = "";
                    document.getElementById("image").innerHTML = ['<img alt="User profile picture" id="img" style="width:150px;height:180px;margin-right:20px; background-repeat:no-repeat;" src="', e.target.result, '" title="', escape(theFile.name), '"/>'].join('');
                };
            })(f);
            reader.readAsDataURL(f);
        }
    }

    document.getElementById('files').addEventListener('change', archivo, false);

    $(':file').change(function(){
        //obtenemos un array con los datos del archivo
        var file = $("#files")[0].files[0];
        //obtenemos el nombre del archivo
        var fileName = file.name;
        //obtenemos la extensión del archivo
        //document.getElementById("nombreImagen").value=fileName;
        fileExtension = fileName.substring(fileName.lastIndexOf('.') + 1);
        //obtenemos el tamaño del archivo
        var fileSize = file.size;
        //obtenemos el tipo de archivo image/png ejemplo
        var fileType = file.type;

        $("#cambiar").show();
        //mensaje con la información del archivo
        // alert("<span class='info'>Archivo para subir: "+fileName+", peso total: "+fileSize+" bytes.</span>");
    });

</script>



