<h2 style="border-bottom: thin solid #C6C6C6;padding-bottom: 4px; margin-bottom: 30px;">
  Administrar Respuestas
</h2>
<div class="">
<div class="row">

  <div class="col-xs-12">
      <div class="ctnm">
          <div class="append-icon">

              <input type="text" name="firstname" id="finder" class="form-control form-white  col-md-8" placeholder="Buscar..." autofocus ng-model="filter">
              <i class="icon-magnifier icnsearch" ></i>
              <button  type="button" class="btn btn-sm btn-blue buttonsp btnnew"  style="padding: 10px !important;padding-left: 7px !important;" ng-click="nuevo()"> Nueva</button>
          </div>
      </div>
      <div class="ctnm">

      </div>


    </div>


     
  </div>
  <br>

   <div class="row">
            <div class="col-lg-12 portlets">
              <div class="panel">
                <div class="panel-header panel-controls">
                  
                </div>
                <div class="panel-content">
                  <div class="filter-left">
                    <table class="table table-bordered table-hover ">
                      <thead>
                        <tr style="color:white;">
                          <th>#</th>
                          <th>Descripción</th>
                          <th >Opciones</th>                       
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="respta in Respuestas | filter:filter ">
                          <td>{{respta.id}}</td>
                          <td>{{respta.nombre}} </td>
                          <td>

                          <a href="javascript:;" ng-click="delete(respta)" class="label label-danger "><i class="fa fa-close"> &nbsp; Eliminar</i></a>
                            
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

  <div class="modal fade" id="modal-responsive" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
          <h4 class="modal-title">NUEVA RESPUESTAS</h4>
        </div>
        <div class="modal-body">
          
          <div class="row">
            <div class="col-md-12">
              
              <div class="form-group">
              <div class="t-center">
                    <label for="field-1" class="control-label pull-left">Descripción</label>
                    <input type="text" class="form-control  ctinput" id="field-1" placeholder="Ej: estoy ocupado,llamame,voy en 15..." ng-model="Respuesta.nombre">
                  </div>        
              </div>                
            </div>
           </div>
        </div>
        <div class="modal-footer text-center">
          <button type="button" class="btn btn-primary btn-embossed bnt-square pull-right" ng-click="save()" ng-show="openButton"><i class="fa fa-check"></i> Guardar</button>
        </div>
      </div>
    </div>
  </div>

</div>
