<h2 style="border-bottom: thin solid #C6C6C6;padding-bottom: 4px; margin-bottom: 30px;">
  Administrar Sectores
</h2>
<div class="">
<div class="row">
    <div class="col-md-11">
      <div class="append-icon">
            <input type="text" name="firstname" id="finder" class="form-control form-white " placeholder="Buscar..." autofocus ng-model="filter">
            <i class="icon-magnifier"></i>
          </div>
    </div>
    <div class="col-md-1" >
      <button style="background:#95C92C;"  type="button" class="btn btn-primary pull-right ng-click="nuevo()"><i style="color:white;"  class="fa fa-plus"></i></button>
    </div>    
  </div>
  <br>

	 <div class="row">
            <div class="col-lg-12 portlets">
              <div class="panel">
                <div class="panel-header panel-controls">
                  
                </div>
                <div class="panel-content">
                  <div class="filter-left">
                    <table class="table table-bordered table-hover  ">
                      <thead>
                        <tr style="color:white;">
                          <th>#</th>
                          <th>Descripción</th>
                          <th >Estado</th>
                          <th >Opciones</th>                       
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="sector in Sectores | filter:filter ">
                        	<td>{{sector.id}}</td>
                        	<td>{{sector.descripcion}} </td>
                        	<td><span ng-class="{'label label-danger': sector.estado === 'Inactivo' }" class="label label-success" >{{sector.estado}} </span>  </td>
                        	<td>

      

                        		<a href="javascript:;" class="btn btn-sm btn-blue" ng-click="modificar(sector)" data-toggle="modal" data-target="#modal-responsive">
                              <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
 Modficiar</span>
                              </a>
                              <button type="button" href="javascript:;" ng-click="delete(sector.id)" class="btn btn-sm btn-danger "><i class="fa fa-close"> &nbsp; Eliminar</i></button>

                             

                        		
                        	</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>

	<div class="modal fade" id="modal-responsive" aria-hidden="true">
		<div class="modal-dialog ">
		  <div class="modal-content">
		    <div class="modal-header">
		      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
		      <h4 class="modal-title">GESTIÓN DE SECTORES</h4>
		    </div>
		    <div class="modal-body">
		     	
		      <div class="row">
		        <div class="col-md-12">
		        	
		        	<div class="form-group">
		    			<div class="t-center">
		            		<label for="field-1" class="control-label">Descripción</label>
		            		<input type="text" class="form-control form-white" id="field-1" placeholder="Ej: Sistemas,Plomeria,Electricidad..." ng-model="Sector.descripcion">
		          		</div>     		
		        	</div>	              
		        </div>
		       </div>
		    </div>
		    <div class="modal-footer text-center">
		      <button type="button" class="btn btn-primary btn-embossed bnt-square" ng-click="save()" ng-show="openButton"><i class="fa fa-check"></i> Guardar</button>
		      <button type="button" class="btn btn-primary btn-embossed bnt-square" ng-click="update()" ng-hide="openButton"><i class="fa fa-check"></i> Modificar</button>
		    </div>
		  </div>
		</div>
	</div>

</div>
<script src="../assets/global/plugins/modernizr/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="../assets/global/plugins/datatables/jquery.dataTables.min.js"></script> <!-- Tables Filtering, Sorting & Editing -->
<script src="../assets/global/js/pages/table_dynamic.js"></script>



<script src="js/builder.js"></script>
    <script src="js/application.js"></script>
    <script src="js/plugins.js"></script> 
    <script src="js/quickview.js"></script>

    