<style>
    

    
</style>

<div class="container-fuild cntp" >
<div class="row">
    <div class="col-md-4 col-md-push-4 logo">
        <img src="../img/logobrakapp.png" class="imglogo" alt="">
        <br>
        <br>
        <br>
        <br>
        <br>
    </div>
</div>

<div class="wrapperrelative">
    <div class="wrapperabsolute">
        <div class="container">
            <div class="row" >
                
                <div class="col-md-8 col-md-push-2 wrap-search" style="padding-right: 5em !important;">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-7">
                            <angucomplete ng-model="busca" id="ex2" placeholder="Ejem: Plomeria, Mantenimiento de Computadores, etc..." pause="300"  localdata="Servicio" selectedobject="selectedServicio" searchfields="descripcion" titlefield="descripcion" descriptionfield="tipo" minlength="1" inputclass="form-control hcustom40" matchclass="highlight" />
                        </div> 
                        <div class="col-xs-6 col-sm-3 col-md-3">

                            <select class="form-control hcustom40" ng-model= "idMunicipio">
                                <option value="0" selected>Seleccionar Una Ciudad</option>
                                <option value="{{municipio.id}}" ng-repeat="municipio in Municipios">{{municipio.nombre}}</option>
                            </select>
                        </div>      
                        <div class="col-xs-12 col-sm-2 col-md-2">
                            <button class="btn btn-success btn-custom hcustom40 btn-serch" ng-click="Buscar(selectedServicio.originalObject)"><i class="glyphicon glyphicon-search"></i>&nbsp;&nbsp;Buscar Ofertas</button>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            </div>
    </div>
</div>

