
<div class="wrap-search">
    <div class="row">
      <div class="col-md-2">
          <button type="button" class="btn btn-primary btn-custom btn-serch"  ng-click="Mapa()" >{{title}}</button>
        </div>
        <div class="col-md-4">
          <div class="append-icon">
            <input type="text" name="firstname" id="finder" class="form-control" placeholder="Filtrar Profesionales o Empresas..." autofocus ng-model="filter">
          </div>
        </div>
        <div class="col-md-4">
          <select name="filtro" id="filtro" class="form-control">
            <option value="1">Más Calificados</option>
            <option value="1">Más Cercanos</option>
            <option value="1">Más Visitados</option>
          </select>
        </div>
       <!-- <button type='button' id='facebookLogin' class='btn btn-primary' style='width: 100%'>Registrarse Con Facebook</button>-->
       
        <div class="col-md-2">
          <a href="javascript:;" title="Compartir" class="btn btn-primary btn-custom btn-serch" data-toggle="popover" data-placement="bottom" target="_self" style="width: 100%">Compartir</a>
        </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <div ng-show="open" style="color:black">
          <div ng-repeat="profesional in Profesionales | filter : filter">
            <div class="row">
              <div class="panel col-md-12">
                <div class="panel-content">
                  <div class="row">
                    <div class="col-md-3">
                      <img src="{{profesional.foto}}" alt="" style="width:140px;height:140px;">
                    </div>
                    <div class="col-md-4">
                      <h2><strong>{{profesional.razonSocial}}</strong></h2>
                      <p><strong>{{profesional.municipio}}</strong></p>
                      <p>Personas que lo han calificado: <strong>{{profesional.numeroPersonas}}</strong></p>
                    </div>
                    <div class="col-md-2">
                      <div class="t-center">
                        <h4 style="text-align:center;color: #008DD4">Porcentaje de Descuento</h4>
                        <h1 style="color : #FB135C;">{{profesional.porcentaje}} %</h1>
                      </div>
                    </div>
                    <div class="col-md-3">
                       <div  style="margin-top: 80px;">
                          <div class="font-animation">
                              <button class="btn btn-primary btn-custom btn-serch btn-lg" ng-click="Detalles(profesional)" style="width: 100%">                                 
                               {{profesional.button}}
                              </button>
                            </div>
                        </div>
                    </div>
                  </div>                
                </div>
              </div>
            </div>
            <div class="row">
              <div class="panel col-md-12" ng-show="profesional.status">
                <div class="panel-content">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="table-responsive">
                        <table class="table">
                          <tr>
                            <td style="text-align: left;">Correo:</td>
                            <td style="text-align: left;"><strong>{{Profesional.correo}}</strong></td>
                          </tr>
                          <tr>
                            <td style="text-align: left;">Teléfono:</td>
                            <td style="text-align: left;"><strong>{{Profesional.telefono}}</strong></td>
                          </tr>
                          <tr>
                            <td style="text-align: left;">
                              Profesión
                            </td>
                            <td style="text-align: left;"><strong>{{Profesional.profesion}}</strong></td>
                          </tr>
                          <tr>
                            <td style="text-align: left;">
                              Experiencia Laboral:
                            </td>
                            <td style="text-align: left;">
                              <strong>{{Profesional.experiencia}}</strong>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                          <button class="btn btn-primary btn-custom btn-serch" ng-click="Solicitar(profesional)" style="width: 100%; margin-bottom: 7px;">
                            Contactar
                          </button>
                          <button class="btn btn-primary" ng-click="Imagenes(profesional)" style="width: 100%; margin-bottom: 7px;">
                            Imágenes
                          </button>  
                        </div>
                      </div>                    
                    </div>
                    <div class="col-md-6">
                      <div id="map{{profesional.id}}" style=" position: relative;float: left; width: 100%;height: 280px;margin-bottom: 5px;">                      
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>        
        </div>
        <div ng-hide="open">
          <div class="panel  col-md-12">
            <div class="panel-content">
              <div id="map" style=" position: relative;float: left; width: 100%;height: 700px; margin-bottom: 20px; margin-bottom: 5px;">                      
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Modal Fotos -->
<div class="container">
  <div id="modalFotos" class="modal fade" role="dialog">
      <div class="modal-dialog">      
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Imágenes del Producto</h4>
          </div>
          <div class="modal-body">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="$index" ng-class="{'active': $index == 0}" ng-repeat="sub in Profesional.imagenesProductos"></li>         
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="item " ng-class="{'active': $index == 0}" ng-repeat="imagen in Profesional.imagenesProductos">
                  <center>
                    <img src="{{imagen.imagen}}" alt="{{imagen.imagen}}" style="width: 400px;height: 400px;">
                  </center>
                  
                </div>
              </div>
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" target="_self">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" target="_self">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="modal fade" id="modalLogin">
    <div class="modal-dialog">  
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Registro & Login</h4>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#login" target="_self" >Iniciar Sesión</a></li>
            <li><a data-toggle="tab" href="#registrarse"  target="_self">Registrarse</a></li>
            <li><a data-toggle="tab" href="#contraseña" target="_self">Olvide Contraseña?</a></li>
          </ul>
          <center>
            <img src="./img/logo.png" alt="" style="width: 150px;height: 150px;">
          </center>
          <div class="tab-content">
            <div id="login" class="tab-pane fade in active">
              
              <div class="row">
                <div class="form-group col-md-6 col-md-offset-3" style="text-align: left;">
                  <label for="field-1" class="control-label">Usuario</label>
                  <input type="text" class="form-control" id="field-1" ng-model="Cliente.user">
                </div>
              </div>
              <div class="row">
                 <div class="form-group col-md-6 col-md-offset-3" style="text-align: left;">
                  <label for="field-1" class="control-label">Contraseña</label>
                  <input type="password" class="form-control" id="field-1" ng-model="Cliente.pass">
                </div>
              </div>
              <div class="row">
                <div class="col-md-6 col-md-offset-3">
                  <button type="button" class="btn btn-primary btn-custom btn-serch" style="width: 100%;margin-bottom: 6px" ng-click="iniciarSesion()">Iniciar Sesión</button>
                  <button type="button" id="facebookLogin" class="btn btn-primary" style="width: 100%">Iniciar Sesión Con Facebook</button>
                </div>                
              </div> 
             
            </div>
            <!-- Tab Registrarse  -->
            <div id="registrarse" class="tab-pane fade">            
              <div class="row">
                <div class="">
                  <div class="row">
                    <div class="form-group col-md-6 col-md-offset-3" style="text-align: left;">
                      <label for="field-1" class="control-label">Nombres</label>
                      <input type="text" class="form-control" id="field-1" ng-model="Cliente.nombres">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6 col-md-offset-3" style="text-align: left;">
                      <label for="field-1" class="control-label">Apellidos</label>
                      <input type="text" class="form-control" id="field-1" ng-model="Cliente.apellidos">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6 col-md-offset-3" style="text-align: left;">
                      <label for="field-1" class="control-label">Dirección</label>
                      <input type="text" class="form-control" id="field-1" ng-model="Cliente.direccion">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6 col-md-offset-3" style="text-align: left;">
                      <label for="field-1" class="control-label">Teléfono</label>
                      <input type="text" class="form-control" id="field-1" ng-model="Cliente.telefono">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6 col-md-offset-3" style="text-align: left;">
                      <label for="field-1" class="control-label">Correo</label>
                      <input type="text" class="form-control" id="field-1" ng-model="Cliente.correo">
                    </div>
                  </div>                 
                  <div class="row">
                    <div class="form-group col-md-6 col-md-offset-3" style="text-align: left;">
                      <label for="field-1" class="control-label">Contraseña</label>
                      <input type="text" class="form-control" id="field-1" ng-model="Cliente.password">
                    </div>
                  </div>
                  <div class="col-md-6 col-md-offset-3">
                    <button type="button" class="btn btn-primary btn-custom btn-serch" style="width: 100%;margin-bottom: 6px" ng-click="registrar()">Registrarse</button>
                    <button type="button" id="facebookLogin" class="btn btn-primary" style="width: 100%">Registrarse Con Facebook</button>
                  </div>
                  
                </div>                
              </div> 
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="modal fade" id="modalSolicitud">
    <div class="modal-dialog">  
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Realización de Solicitud</h4>
        </div>
        <div class="modal-body">   
          <center>
            <img src="./img/logo.png" alt="" style="width: 150px;height: 150px;">
          </center>
          <br>       
          <div class="">
            <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                       <div class="form-group" style="text-align: left;">
                        <label for="field-1" class="control-label">Nombres</label>
                        <input type="text" class="form-control" id="field-1" ng-model="Cliente.nombres">
                      </div>
                    </div>                   
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group" style="text-align: left;">
                        <label for="field-1" class="control-label">Apellidos</label>
                        <input type="text" class="form-control" id="field-1" ng-model="Cliente.apellidos">
                      </div>
                    </div>                    
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group" style="text-align: left;">
                        <label for="field-1" class="control-label">Correo</label>
                        <input type="text" class="form-control" id="field-1" ng-model="Cliente.correo">
                      </div>
                    </div>                    
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group" style="text-align: left;">
                        <label for="field-1" class="control-label">Teléfono</label>
                        <input type="text" class="form-control" id="field-1" ng-model="Cliente.telefono">
                      </div>
                    </div>                    
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group" style="text-align: left;">
                        <label for="field-1" class="control-label">Dirección</label>
                        <input type="text" class="form-control" id="field-1" ng-model="Cliente.direccion">
                      </div>
                    </div>                    
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group" style="text-align: left;">
                        <label for="field-1" class="control-label">Servicios</label>
                        <select name="filtro" id="filtro" class="form-control" ng-disabled="disabledServicio" ng-model="Solicitud.idServicio">
                           <option ng-repeat="servicio in Profesional.servicios"  value="{{servicio.id}}">{{servicio.descripcion}}</option>
                        </select>
                      </div>
                    </div>                                        
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group" style="text-align: left;">
                        <label for="field-1" class="control-label">Productos</label>
                        <select name="filtro" id="filtro" class="form-control" ng-disabled="disabledProducto" ng-model="Solicitud.idProducto">
                          <option ng-repeat="servicio in Profesional.productos"  value="{{servicio.id}}">{{servicio.descripcion}}</option>
                        </select>
                      </div>
                    </div>                                        
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <button type="button" class="btn btn-primary btn-custom btn-serch" style="width: 100%;margin-bottom: 6px" ng-click="save()">Contactar</button>
              </div>
            </div>            
          </div>         
        </div>
      </div>
    </div>
  </div>
</div>
