<style>
  body, html
  {

    background: #FFF !important;
  }

  .mp
  {
    background: #fff !important;
  }
</style>

<!-- inciio busqueda-->


<!-- fin busqueda-->

<div class="row">
<div class="col-md-10 col-md-push-1" style="margin-bottom: 10px;">
  <div class="col-md-2 mgscreen">
    <img src="img/logobrakapp2.png"  style="width: 120px !important;margin: 0 !important;" alt="">
  </div>
      <div class="col-xs-12 col-sm-6 col-md-5 mgscreen">
          <angucomplete ng-model="busca" id="ex2" placeholder="Servicios, Personas, Productos" pause="300"  localdata="Servicio" selectedobject="selectedServicio" searchfields="descripcion" titlefield="descripcion" descriptionfield="tipo" minlength="1" inputclass="form-control hcustom40" matchclass="highlight" />
      </div> 
      <div class="col-xs-12 col-sm-3 col-md-3 ">

          <select class="form-control hcustom40" ng-model= "idMunicipio">
              <option value="0" selected>Seleccionar Una Ciudad</option>
              <option value="{{municipio.id}}" ng-repeat="municipio in Municipios">{{municipio.nombre}}</option>
          </select>
      </div>      
      <div class="col-xs-12 col-sm-2 col-md-2">
          <button id="btnBuscar" class="btn btn-success btn-custom hcustom40 btn-serch btn-block " ng-click="Buscar(selectedServicio.originalObject)"><i class="glyphicon glyphicon-search iconsearch"></i>&nbsp;&nbsp;<span class="btnBuscar">Buscar</span> </button>
      </div>
</div>
</div>
<div class="col-md-10 col-md-push-1" style="margin-bottom:30px !important;">
  
<div class="row">


<div class="wrap-search">
    <div class="row">
      <div class="col-md-2">
          <button type="button" class="btn btn-primary btn-custom btn-serch btn-block mgscreen"  ng-click="Mapa()" >{{title}}</button>
        </div>
        <div class="col-md-4 mgscreen">
          <div class="append-icon">
            <input type="text" name="firstname" id="finder" class="form-control" placeholder="Filtrar Profesionales o Empresas..." autofocus ng-model="filter">
          </div>
        </div>
        <div class="col-md-4 mgscreen">
          <select name="filtro" id="filtro" ng-model= "filtro" class="form-control" ng-change="Filtro()">
            <option value="1">Más Calificados</option>
            <option value="3">Más Visitados</option>
            <option value="4">Más Cercanos</option>
          </select>
        </div>       
        <div class="col-md-2">
          <a href="javascript:;" title="Compartir" class="btn btn-success btn-custom  btn-block" data-toggle="popover" data-placement="bottom" target="_self" style="width: 100%">Compartir</a>
        </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12" >
        <div ng-show="open" style="color:black">
          <div ng-repeat="profesional in Profesionales | filter : filter" style="margin: 10px 17px !important;">
            <div class="row">
              <div class="panel col-md-12">
                <div class="panel-content">
                  <div class="row">
                    <div class="col-md-3">
                      <img src="{{profesional.foto}}" alt="" style="width:140px;height:140px;">
                    </div>
                    <div class="col-md-4" style="text-align: left; border-right: thin solid #e0e0e0;">
                      <h2><strong style="color:#464646;">{{profesional.razonSocial}}</strong></h2>
                      
                      <div ng-init="x = profesional.calificacion">
                        <span uib-rating ng-model="x" max="5" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" read-only="true" aria-labelledby="custom-icons-1" style="color:#00E01D"></span> <b>(<i>Calificación:</i> {{x}})</b>
                      </div>
                      <p>{{profesional.municipio}}</p>
                      <p>Personas que lo han calificado: <strong>{{profesional.numeroPersonas}}</strong></p>
                    </div>
                    <div class="col-md-2" style="height:145px ;border-right: thin solid #e0e0e0;">
                      <div class="t-center">
                        <h4 style="text-align:center;color: #008DD4">Porcentaje de Descuento</h4>
                        <h1 style="color : #FB135C;">{{profesional.porcentaje}} %</h1>
                        
                      </div>
                    </div>
                    <div class="col-md-3">
                      <div class="row" style="margin-top: 45px;">
                        <a href="http://{{profesional.url}}">{{profesional.url}}</a>
                      </div>
                      <div class="row" style="margin-top: 35px;">                        
                        <button class="btn btn-primary btn-custom btn-serch btn-lg" ng-click="Detalles(profesional)" style="width: 100%">                       
                         {{profesional.button}}
                        </button>                          
                      </div>
                    </div>
                  </div>                
                </div>
              </div>
            </div>
            <div class="row">
              <div class="panel col-md-12" ng-show="profesional.status">
                <div class="panel-content">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="table-responsive">
                        <h4>Información Básica</h4>
                        <table class="table">
                          <tr>
                            <td style="text-align: left;">Correo:</td>
                            <td style="text-align: left;"><strong>{{profesional.correo}}</strong></td>
                          </tr>
                          <tr>
                            <td style="text-align: left;">Teléfono:</td>
                            <td style="text-align: left;"><strong>{{profesional.telefono}}</strong></td>
                          </tr>
                          <tr>
                            <td style="text-align: left;">Dirección:</td>
                            <td style="text-align: left;"><strong>{{profesional.direccion}}</strong></td>
                          </tr>
                          <tr>
                            <td style="text-align: left;">
                              Profesión
                            </td>
                            <td style="text-align: left;"><strong>{{profesional.profesion}}</strong></td>
                          </tr>
                          <tr>
                            <td style="text-align: left;">
                              Experiencia Laboral:
                            </td>
                            <td style="text-align: left;">
                              <strong>{{profesional.experiencia}}</strong>
                            </td>
                          </tr>
                        </table>
                      </div>
                      <div class="row">
                        <a href="javascript:;" class="btn btn-link" ng-click="profesional.open = true" style="font-size: 16px;">Servicios o Productos</a>
                        <div class="col-md-8 col-md-offset-2">
                          <button class="btn btn-primary btn-custom btn-serch" ng-click="Solicitar(profesional)" style="width: 100%; margin-bottom: 7px;">
                            Contactar
                          </button>
                          <button class="btn btn-primary" ng-click="Imagenes(profesional)" style="width: 100%; margin-bottom: 7px;">
                            Galeria de Imágenes
                          </button>  
                        </div>
                      </div>                    
                    </div>
                    <div class="col-md-6">
                      <div ng-hide="profesional.open">
                        <div id="map{{profesional.id}}" style=" position: relative;float: left; width: 100%;height: 280px;margin-bottom: 5px;">                      
                        </div>
                      </div>
                      <div ng-show="profesional.open">
                        <h4>Productos</h4>
                        <table class="table table-bordered">
                          <th>Producto</th>
                          <th>Marca</th>
                          <th>Modelo</th>
                          <th>Imágenes</th>
                          <tr ng-repeat="producto in profesional.productos">
                            <td>{{producto.producto}}</td>
                            <td>{{producto.marca}}</td>
                            <td>{{producto.modelo}}</td>
                            <td><button class="btn btn-primary" ng-click="openImagenes(producto.imagenes)">Imágenes</button></td>
                          </tr>
                        </table>
                        <h4>Servicios</h4>
                        <table class="table table-bordered">
                          <th>id</th>
                          <th>Descripción</th>
                          
                          <tr ng-repeat="servicio in profesional.servicios">
                            <td>{{servicio.id}}</td>
                            <td>{{servicio.descripcion}}</td>
                            
                          </tr>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>        
        </div>
        <div ng-hide="open">
          <div class="panel  col-md-12">
            <div class="panel-content">
              <div id="map" style=" position: relative;float: left; width: 100%;height: 700px; margin-bottom: 20px; margin-bottom: 5px;">                      
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</div>
</div>

<!-- Modal Fotos -->
<div class="container">
  <div id="modalFotos" class="modal fade" role="dialog">
      <div class="modal-dialog">      
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Imágenes del Producto</h4>
          </div>
          <div class="modal-body">
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carousel-example-generic" data-slide-to="$index" ng-class="{'active': $index == 0}" ng-repeat="sub in Profesional.imagenesProductos"></li>         
              </ol>
              <div class="carousel-inner" role="listbox">
                <div class="item " ng-class="{'active': $index == 0}" ng-repeat="imagen in Profesional.imagenesProductos">
                  <center>
                    <img src="{{imagen.imagen}}" alt="{{imagen.imagen}}" style="width: 400px;height: 400px;">
                  </center>
                  
                </div>
              </div>
              <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev" target="_self">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next" target="_self">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="modal fade" id="modalLogin">
    <div class="modal-dialog">  
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Acceder a Brakapp</h4>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#login" target="_self" >Iniciar Sesión</a></li>
            <li><a data-toggle="tab" href="#registrarse"  target="_self">Registrarse</a></li>
            <li><a data-toggle="tab" href="#contraseña" target="_self">Olvide Contraseña?</a></li>
          </ul>

          <div class="tab-content">
            <div id="login" class="tab-pane fade in active">
              
              <div class="row">
                <br>
                <div class="form-group col-md-6 col-md-offset-3" style="text-align: left;">
                  <input type="text" class="form-control ctinput" placeholder="Usuario" id="field-1" ng-model="Cliente.user">
                </div>
              </div>
              <div class="row">
                 <div class="form-group col-md-6 col-md-offset-3" style="text-align: left;">

                  <input type="password" class="form-control ctinput" placeholder="Contraseña" id="field-1" ng-model="Cliente.pass">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 ">
                  <button type="button" class="btn btn-success" ng-click="iniciarSesion()">Iniciar Sesión</button>
                  <button type="button" id="facebookLogin" class="btn btn-primary" >Iniciar Sesión Con Facebook</button>
                </div>                
              </div> 
             
            </div>
            <!-- Tab Registrarse  -->
            <div id="registrarse" class="tab-pane fade"> <!-- -->
              <div class="" style="padding:5px;" class="registerbox">
                <div class="">
                  <div class="row">
                    <div class="form-group col-md-6" style="text-align: left;">

                      <input type="text" class="form-control ctinput" id="field-1" placeholder="Nombre" ng-model="Cliente.nombres">
                    </div>

                    <div class="form-group col-md-6" style="text-align: left;">

                      <input type="text" class="form-control ctinput"  id="field-1" placeholder="Apellidos" ng-model="Cliente.apellidos">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6 " style="text-align: left;">

                      <input type="text" class="form-control ctinput" id="field-1" placeholder="Dirección" ng-model="Cliente.direccion">
                    </div>

                    <div class="form-group col-md-6 " style="text-align: left;">

                      <input type="text" class="form-control ctinput" id="field-1" placeholder="Teléfono" ng-model="Cliente.telefono">
                    </div>
                  </div>
                  <div class="row">
                    <div class="form-group col-md-6 " style="text-align: left;">

                      <input type="text" class="form-control ctinput" id="field-1" placeholder="Correo" ng-model="Cliente.correo">
                    </div>

                    <div class="form-group col-md-6 " style="text-align: left;">

                      <input type="text" class="form-control ctinput" id="field-1" placeholder="Contraseña" ng-model="Cliente.password">
                    </div>
                  </div>
                  <div class="row">

                  <div class="col-md-12 ">

                    <button type="button" id="facebookLogin" class="btn btn-primary pull-right"  >Registrarse Con Facebook</button>
                    &nbsp;
                    <button type="button" class="btn btn-success pull-right" style="margin-right:5px;" ng-click="registrar()">Registrarse</button>
                  </div>
                  </div>

                  <div class="row">
                    <div class="col-md-10 col-md-push-1" style="margin-top:5px;">
                      <span class="terminos">
                        Al crear una cuenta, acepta las <a href="#">Condiciones legales</a>, <a href="#"> Reglamento de Prestación de Servicios</a> y <a
                              href="#">la Política de privacidad</a> de Brakapp.
                      </span>
                    </div>
                  </div>
                  
                </div>                
              </div> 
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Solicitud -->
<div class="container">
  <div class="modal fade" id="modalSolicitud">
    <div class="modal-dialog">  
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Realización de Solicitud</h4>
        </div>
        <div class="modal-body">   
          <center>
            <img src="./img/logo.png" alt="" style="width: 150px;height: 150px;">
          </center>
          <br>       
          <div class="">
            <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                       <div class="form-group" style="text-align: left;">
                        <label for="field-1" class="control-label">Nombres</label>
                        <input type="text" class="form-control" id="field-1" ng-model="Cliente.nombres">
                      </div>
                    </div>                   
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group" style="text-align: left;">
                        <label for="field-1" class="control-label">Apellidos</label>
                        <input type="text" class="form-control" id="field-1" ng-model="Cliente.apellidos">
                      </div>
                    </div>                    
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group" style="text-align: left;">
                        <label for="field-1" class="control-label">Correo</label>
                        <input type="text" class="form-control" id="field-1" ng-model="Cliente.correo">
                      </div>
                    </div>                    
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group" style="text-align: left;">
                        <label for="field-1" class="control-label">Teléfono</label>
                        <input type="text" class="form-control" id="field-1" ng-model="Cliente.telefono">
                      </div>
                    </div>                    
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group" style="text-align: left;">
                        <label for="field-1" class="control-label">Dirección</label>
                        <input type="text" class="form-control" id="field-1" ng-model="Cliente.direccion">
                      </div>
                    </div>                    
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group" style="text-align: left;">
                        <label for="field-1" class="control-label">Servicios</label>
                        <select name="filtro" id="filtro" class="form-control" ng-disabled="disabledServicio" ng-model="Solicitud.idServicio">
                           <option ng-repeat="servicio in Profesional.servicios"  value="{{servicio.id}}">{{servicio.descripcion}}</option>
                        </select>
                      </div>
                    </div>                                        
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group" style="text-align: left;">
                        <label for="field-1" class="control-label">Productos</label>
                        <select name="filtro" id="filtro" class="form-control" ng-disabled="disabledProducto" ng-model="Solicitud.idProducto">
                          <option ng-repeat="servicio in Profesional.productos"  value="{{servicio.id}}">{{servicio.descripcion}}</option>
                        </select>
                      </div>
                    </div>                                        
                  </div>
                </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">
                <button type="button" class="btn btn-primary btn-custom btn-serch" style="width: 100%;margin-bottom: 6px" ng-click="save()">Contactar</button>
              </div>
            </div>            
          </div>         
        </div>
      </div>
    </div>
  </div>
</div>


<!-- Modal Servicios -->


